/* Custom properties/variables  */

:root {
    --main-yellow: #F2BC57;
    --main-purple: #5464BF;
    --main-darkblue: #2C3359;
    --main-blue: #79AEF2;
  }


* {
    margin: 0;
    padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html {
    box-sizing: border-box;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #73366F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.navlist {
    display: flex;
    list-style-type: none;
}

.navlist a {
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    padding: 1.5rem;
    font-size:larger;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.navlist a:hover {
background: #A3B2BF;
color: #73366F;
}

#welcome-section {
    background-color: #2C3359;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#welcome-section h1 {
  font-size: 4rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #79AEF2;
}


h1 {
    font-size: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #F2F2F2;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #F2F2F2;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #51718C;
}
.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-tiles a {
  margin: 2rem;

}

.project-tile img {
  width: 25rem;
  height: 15rem;
}
#interestpage-img{
  width: 25rem;
  height: 15rem;
}


figcaption {
  font-size: x-large;
  font-weight: 300;
  text-align: center;
  background-color: #2C3359;
  color: #79AEF2;
  border-radius: 2px 2px 6px 6px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2C3359;
}

.contact-links {
  display: flex;
}

.contact-links a {
  color:  #f0f0f0;
  font-size: xx-large;
  padding: 2rem 3rem;
  display: block;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #73366F;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

footer {
  font-size: large;
  text-align: center;
  padding: 3rem;
  background-color: #2C3359;
  color: #f0f0f0;
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 640px / 16px = 28.75em */
  @media (max-width: 40em) {
    html {
      font-size: 50%;
    }
  }