/* Custom properties/variables  */

:root {
    --main-white: #f0f0f0;
    --main-blue: #45567d;
    --main-gray: #303841;
  }

* {
    margin: 0;
    padding: 0;

}

html {
    box-sizing: border-box;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}



#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #1B5760;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#interestpage-img{
    width: 35%;
    height: auto;
    padding: 0;
}


.navlist {
    display: flex;
    list-style-type: none;
}
.navlist li{
    color: pink;
}
.navlist a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}

a {
    text-decoration: none;
}

.navlist a:hover {
background: var(--main-blue)
}

#welcome-section {
    background-color: #F2E6D8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 640px / 16px = 28.75em */
  @media (max-width: 40em) {
    html {
      font-size: 50%;
    }
  }