/* Custom properties/variables  */

:root {
    --main-white: #f0f0f0;
    --main-green: #ACBEAE;
    --main-teal: #1B5760;
  }

* {
    margin: 0;
    padding: 0;

}

html {
    box-sizing: border-box;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #730A1D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.navlist {
    display: flex;
    list-style-type: none;
}
.navlist li{
    color: pink;
}
.navlist a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}

a {
    text-decoration: none;
}

.navlist a:hover {
background: var(--main-teal)
}

#welcome-section {
    background-color: #F2E6D8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    padding: 3.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #1B5760;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ACBEAE;
}
.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-tiles a {
  margin: 2rem;

}
.project-tile img {
  width: 18rem;
}
#interestpage-img{
  width: 23.2rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2E6D8;
}

.contact-links a {
  font-size: xx-large;
  padding: 2rem 3rem
}

footer {
  font-size: large;
  text-align: center;
  padding: 3rem;
  background-color: #F2E6D8;
  color: #1B5760;
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 640px / 16px = 28.75em */
  @media (max-width: 40em) {
    html {
      font-size: 50%;
    }
  }