*{
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.mainContainer {
    display: flex;
}

.box {
    background-color: rgb(140, 169, 223);
  }
  
  .box p {
    font-size: xx-large;
    text-align: center;
  }

.nav {
    min-width: 20rem;
}
.navList {
    margin: 1rem;
    list-style-type: none;
    font-size: larger;
}

a {
    text-decoration: none;
    color: white;
}