*{
    box-sizing: border-box;
   
}

h1 {
    text-align: center;
    font-size: xx-large;
    color: #D2D8D9;
    margin-bottom: 1rem;

}

body {
    background-color: #396273;
}

.mainContainer {
    display: flex;
}

.shipViewer {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 53rem;
    height: auto;
}




.box {
    background-color: #6593A6;
    color: #D2D8D9;
  }
  
  .box p {
    font-size: xx-large;
    text-align: center;
  }

.nav {
    min-width: 20rem;
}
.navList {
    margin: 1rem;
    list-style-type: none;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: #D2D8D9;
}

footer {
    color: #D2D8D9;
    text-align: center;
    margin-top: 1rem;
    
}