main {
  display: flex;
  flex-wrap: wrap;
}

figure img {
  height: 23rem;
}

button{
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  border: 1.5px solid white;
  border-radius: .8rem;
  background-image: linear-gradient(white, orange);
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
} 

button:hover {
  box-shadow: 0px 0px 12px orange;
}

figCaption {
  text-align: center;
  display: block;
  margin: 0px 11px 12px 11px;
  font-family: sans-serif;
  font-size: large;
  font-weight: 300;
  text-align: center;
  background-color: #2C3359;
  color: black;
  border-radius: 6px 6px 6px 6px;
  background-image: linear-gradient(white, orange);
  box-shadow: 0px 0px 12px orange;
  
}