*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.senatorsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  figure img {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 1rem;
  }
  
  figCaption {
    text-align: center;
    display: block;
    margin: 0px 11px 12px 11px;
    font-size: large;
    text-align: center;
    color: black;
  }

  footer {
    text-align: center;
    padding: 3rem;
    color: black;
  }